<%= javascript_tag do %>
  function goBack() {
    window.history.back();
}
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Location name:</strong>
  <%= @location.location_name %>
</p>

<p>
  <strong>Builder:</strong>
  <%= @location.builder.name %>
</p>

<table border=1>
  <thead>
    <tr>
      <th>Project name</th>
      <th>BHK</th>
    </tr>
  </thead>

  <tbody>
    <% for projects in @location.projects %>
    <tr>
    	<td>Project Name :<%= projects.name %></td>
    	<td>BHK :<%= projects.bhk %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</br>


<% for projects in @location.projects %> 
    <ul>
    	<li><%= image_tag projects.image_1.url %></li>
    	<li><%= image_tag projects.image_2.url %></li>
    	<li><%= image_tag projects.image_3.url %></li>
    </ul>
<% end %>


<%= link_to 'Edit', edit_builder_location_path %> |
<a href="#" onclick="goBack()">Back</a>