<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Home', builders_path %> ||
<%= link_to 'New Builder', new_builder_path %> ||
<%= link_to 'Projects list', projects_path %>  ||
<%= link_to 'New Project', new_project_path %> ||

<%= yield %>

</body>
</html>
